.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #4caf50;
  }


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination button {
  margin: 0 5px;
  padding: 8px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
  
  .button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .button-group button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-group button:hover {
    background-color: #388e3c;
  }
  
  .button-group button:focus {
    background-color: #66bb6a;
  }

  .table button {
    padding: 5px 10px;
    background-color: #e53935; /* Rosso per "Elimina" */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .table button:hover {
    background-color: #d32f2f;
  }
  
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table th {
    background-color: #4caf50;
    color: white;
  }
  
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table tr:hover {
    background-color: #d0f0c0;
  }
  
  input[type="text"] {
    padding: 10px;
    width: calc(100% - 120px);
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .table-container {
    overflow-x: auto; /* Abilita lo scorrimento orizzontale */
    -webkit-overflow-scrolling: touch; /* Supporto fluido per dispositivi touch */
  }
  
  .table {
    width: 100%; /* Assicura che la tabella occupi tutta la larghezza disponibile */
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  .table th,
  .table td {
    text-align: left;
    padding: 8px 12px;
    border: 1px solid #ddd;
  }
