<div class="toolbar">
  <div class="logo-container">
    <div class="logo">CO₂ Tracker</div>
    <div *ngIf="isAuthenticated" class="user-email">{{ userEmail }}</div>
  </div>
  <div class="hamburger" (click)="toggleMenu(nav, hamburger)" #hamburger>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <nav #nav>
    <ng-container *ngIf="!isAuthenticated; else authenticated">
      <!-- Visualizza per utenti non autenticati -->
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/login" routerLinkActive="active">Login</a>
      <a routerLink="/register" routerLinkActive="active">Registrazione</a>
    </ng-container>
    <ng-template #authenticated>
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <!-- Visualizza per utenti autenticati -->
      <a routerLink="/co2-input" routerLinkActive="active">Inserimento CO₂</a>
      <a routerLink="/myco2" routerLinkActive="active">My CO₂</a>
      <a routerLink="/tips" routerLinkActive="active">Consigli</a>
      <a *ngIf="isAdmin" routerLink="/admin" routerLinkActive="active">Admin</a>
      <a (click)="logout()" style="cursor: pointer; text-decoration: none;">Logout</a>
    </ng-template>
  </nav>
</div>