<div class="toolbar">
  <div class="logo">CO₂ Tracker</div>
  <div class="hamburger" (click)="toggleMenu(nav, hamburger)" #hamburger>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <nav #nav>
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/register" routerLinkActive="active">Registrazione</a>
    <a routerLink="/co2-input" routerLinkActive="active">Inserimento CO₂</a>
    <a routerLink="/tips" routerLinkActive="active">Consigli</a>
  </nav>
</div>
