<div class="background-image"></div>
<div class="form-container">
  <img src="https://cdn-icons-png.flaticon.com/512/236/236831.png" alt="Eco Icon" class="nature-icon">
  <h2>Benvenuto in EcoLogin</h2>
  <form>
    <label for="username">Email:</label>
    <input type="text" id="username" placeholder="Insert email">

    <label for="password">Password:</label>
    <input type="password" id="password" placeholder="Insert password">

    <button type="submit">Accedi</button>
  </form>
  <p>Non hai un account? <a routerLink="/register" style="color: #1b5e20; text-decoration: none;">Registrati</a></p>
</div>
